<body class= "bodyAgregar">
<form class="needs-validation" method="post" action='@Url.Action("GuardarTransformacion","Home", new {IdSaga = @ViewBag.IdSaga, IdPersonaje = @ViewBag.IdPersonaje})' enctype="multipart/form-data">
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="Nombre">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput">Multiplicador</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="Multiplicador">
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Cargar Foto</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="ArchivoFoto">
  </div>
<button type="submit" class="btn btn-primary">Crear Habilidad</button>
</form>
</body>